@*@model IEnumerable<sachOnline_Binh.SACH>*@
@using sachOnline_Binh.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SACH>

@{
    ViewBag.Title = "TRANG CHỦ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style type="text/css">
    .imgbook {
        transition: all 1s ease-in;
        width: 400px;
    }

        .imgbook:hover {
            transform: scale(0.9);
            cursor: pointer;
        }
</style>

@section SachBanNhieu{
    @Html.Action("SachBanNhieuPartial", "SachOnline")
}

<h2 class="text-center">SÁCH MỚI</h2>
<hr>
<div class="row text-center">
    @foreach (var sach in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="~/Images/@sach.AnhBia" alt="Thumbnail Image 1" class="img- responsive img-rounded imgbook" style="width:400px;">
                <div class="caption">
                    <h4 style="min-height:70px;">
                        <a href="@Url.Action("ChiTietSach","SachOnline", new { id = sach.MaSach})">@sach.TenSach</a>
                        @*<a href="@Url.Action("ChiTietSach","SachOnline", new { id = sach.MaSach})">@sach.TenSach</a>*@
                    </h4>
                    <p>
                        <a href="@Url.Action("ThemGioHang","GioHang", new { ms = sach.MaSach, url = Request.Url.ToString() })" class="btn btn-primary" role="button">
                            <span class="glyphicon glyphicon-shopping-cart" aria- hidden="hidden"></span> Add to Cart
                        </a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
<nav class="text-center">
    <!-- Add class .pagination-lg for larger blocks or .pagination-sm for smaller blocks-->
    @*Tạo liên kết các trang*@
    Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber) /@Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
    <style>
        .MenuTrang {
            display: inline;
            text-align: center;
        }
    </style>
</nav>
