@using sachOnline_Binh.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SACH>

@using (Html.BeginForm("SearchPhanTrangSapXep", "Search", FormMethod.Get))
{
    <p>
        <input type="text" name="strSearch" value="@ViewBag.Search" placeholder="Nhập từ khóa cần tìm..." size="100" />
        <input type="submit" value="Tìm kiếm" />
    </p>
}

@{
    if (Model != null)
    {
        <h2>Kết quả tìm kiếm</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Tên sách", "SearchPhanTrangSapXep",
                              new { sortProperty = "TenSach", sortOrder = ViewBag.SortOrder, strSearch = ViewBag.Search })
                </th>
                <th>
                    Ảnh bìa
                </th>
                <th>
                    Mô tả
                </th>
                <th>
                    @Html.ActionLink("Ngày cập nhật", "SearchPhanTrangSapXep",
                              new { sortProperty = "NgayCapNhat", sortOrder = ViewBag.SortOrder, strSearch = ViewBag.Search })
                </th>
                <th>
                    @Html.ActionLink("Số lượng bán", "SearchPhanTrangSapXep",
                              new { sortProperty = "SoLuongBan", sortOrder = ViewBag.SortOrder, strSearch = ViewBag.Search })
                </th>
                <th>
                    Giá
                </th>
                <th>
                    Tên chủ đề
                </th>
                <th>
                    Tên nhà xuất bản
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSach)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnhBia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayCapNhat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuongBan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaBan)
                    </td>
                    <td>
                        @item.CHUDE.TenChuDe
                    </td>
                    <td>
                        @item.NHAXUATBAN.TenNXB
                    </td>
                    <td>
                        <a href="@Url.Action("ChiTietSach", "SachOnline", new {MaSach = item.MaSach})">Chi tiết sách</a>
                    </td>
                </tr>
            }
        </table>
        <div>Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber) /@Model.PageCount</div>
        <div class="MenuTrang">
            @Html.PagedListPager(Model, page => Url.Action("SearchPhanTrangSapXep", new { page = page, sortProperty = ViewBag.sortProperty, SortOrder = ViewBag.SortOrder, strSearch = ViewBag.Search }))
        </div>
        <style>
            .MenuTrang {
                display: inline;
                text-align: center;
            }
        </style>

    }
}